.block
  .block__menu
    新規会員登録
.block.horizontal-padding-25
  -# コントローラがsessionsではないならメールアドレスで○○○は表示しない
  - if controller.controller_name != "sessions"
    -# = link_to new_user_registration_path do
    = link_to step2_signup_index_path do
      .button.mail
        = fa_icon 'envelope', class: 'button__mail-icon'
        %span.button__text
          -# @auth_textには「で登録する」や「でログイン」が入る
          メールアドレス#{@auth_text}

  -# Facebookで登録ボタン。method: :postが必要なので注意
  -# = link_to user_facebook_omniauth_authorize_path, method: :post do
  = link_to '#' do
    .button.facebook
      = fa_icon 'facebook-square', class: 'button__facebook-icon'
      %span.button__text
        facebook#{@auth_text}
  
  -# Googleで登録ボタン。method: :postが必要なので注意。
  -# = link_to user_google_oauth2_omniauth_authorize_path, method: :post do
  = link_to '#' do
    .button.google
      = image_tag "google_icon.png", class: "button__google-icon"
      %span.button__text
        Google#{@auth_text}
    
